body{
  background-color: #DDDDDD;
}

.Aligner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}


.leaderboard {
  margin-top: 150px;
   max-width: 50%;
   min-width: 380px;
}

.leaderboard .title {
  background-color: #02284A;
  color: #E4E4E4;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  padding: 14px 0 14px 3%;
  font-size: 14px;
  margin: 0;
}

.leaderboard .title div{
  margin-left: auto;
  margin-right: 94px;
}

.leaderboard ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.leaderboard ul li {
  background: white;
  color: #333;
  padding: 14px 0 14px 3%;
  display: flex;
  align-items: center;
  position: relative;
}
.leaderboard ul li:nth-child(odd) { background: #F7F7F7; }

.leaderboard ul li > div{
  display: flex;
  flex: 1;
}

.points {
  margin-left: auto;
}

.form-divide {
  display: flex;
  flex-direction: row;
  flex: 1;
}

input {
  line-height: 14px;
  padding: 10px;
  display: flex;
  flex: 1;
}

button {
  display: inline-block;
  background: #19304B;
  color: #FFF;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  padding: 10px;
  text-align: center;
  margin: 0 14px;
}
